*,
*:before,
*:after {
  box-sizing: border-box;
}

.form-line {
  margin: 1rem 0;
}

label,
input,
textarea,
select,
button {
  font-size: 1rem;
  line-height: 1.5;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid;
}

input[type=checkbox] {
  margin: 0 0.5rem 0 0;
  width: auto;
}

input[type=checkbox] + label {
  display: inline;
}

button {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
}

fieldset {
  margin: 1rem;
}